<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Portfolio</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <header>
                <nav>
                    <img class="portfolio__image" src="images/r.png" alt="profile">

                    <div class="user__details">
                        <h1>Ruslan Lazurenko</h1>
                        <span>Self-Taught Software Engineer</span>
                    </div>
                    <div class="page__links">
                        <a class="home" href="">
                            <i class="fas fa-home"></i>Home
                        </a>
                        <a class="projects" href="">
                            <i class="fas fa-folder-open"></i>Projects
                        </a>
                        <a class="contact" href="">
                            <i class="fas fa-id-card"></i>Contact
                        </a>
                    </div>
                </nav>
            </header>
            <main>
                <!-- Main Content Here --> 
            </main>
        </div>
    </body>
</html>
