<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Portfolio</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <section class="s1">
            <div class="main-container">
                <div class="welcome-wrapper">
                    <h1>Hi, I'm Ruslan Lazurenko</h1>
                </div>

                <div class="intro-wrapper">
                    <div class="nav-wrapper">
                        <div class="dots-wrapper">
                            <div id="dot-1" class="terminal-dot"></div>
                            <div id="dot-2" class="terminal-dot"></div>
                            <div id="dot-3" class="terminal-dot"></div>
                        </div>

                        <ul id="nav">
                            <li>
                                <a class="home" href="">
                                    <i class="fas fa-id-card"></i><span>About</span>
                                </a>
                            </li>
                            <li>
                                <a class="projects" href="">
                                    <i class="fas fa-folder-open"></i><span>Projects</span>
                                </a>
                            </li>
                            <li>
                                <a class="contact" href="">
                                    <i class="fas fa-envelope-square"></i><span>Contact</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="left-column">

                    </div>

                    <div class="right-column">

                    </div>
                </div>
            </div>
        </section>

        <section class="s2">
            <div class="main-container">

            </div>
        </section>

        <section class="s1">
            <div class="main-container">

            </div>
        </section>

        <section class="s2">
            <div class="main-container">

            </div>
        </section>                
    </body>
</html>
