:root {
    --mainColor: #181818;
    --secondaryColor: #fafafa;

    --borderColor: #181818;

    --bgColor: #fafafa;
    
    --mainText: #181818;
    --secondaryText: #777777;

    --themeDotBorder: black;
}
